#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 20px;
    color: rgb(31, 27, 27);
    background-image: linear-gradient(to top, rgb(255, 0, 0), rgb(16, 219, 255));
    border-radius: 10px;
    
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px
}